
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap);

@media (min-width: 992px) {
  .container.feature {
      max-width: 100% !important;
  }

  .feature-text  {
      padding-left: calc(((100% - 960px) / 2) + .75rem);
  }
}

@media (min-width: 1200px) {
  .feature-text  {
      padding-left: calc(((100% - 1140px) / 2) + .75rem);
  }
}

@media (min-width: 1400px) {
  .feature-text  {
      padding-left: calc(((100% - 1320px) / 2) + .75rem);
  }
}


/*** Team ***/
.team-item img {
  position: relative;
  top: 0;
  transition: .5s;
}

.team-item:hover img {
  top: -30px;
}

.team-item .team-text {
  position: relative;
  height: 100px;
  transition: .5s;
}

.team-item:hover .team-text {
  margin-top: -60px;
  height: 160px;
}

.team-item .team-text .team-social {
  opacity: 0;
  transition: .5s;
}

.team-item:hover .team-text .team-social {
  opacity: 1;
}

.team-item .team-social .btn {
  display: inline-flex;
  color: var(--primary);
  background: #FFFFFF;
  border-radius: 40px;
}

.col-lg-6{
  font-family: poppins;
}

.team-item .team-social .btn:hover {
  color: #FFFFFF;
  background: var(--primary);
}
.custom-button {
  background-color: #ffffff; /* Set background color */
  color: #007bff; /* Set text color */
  border: 2px solid #007bff; /* Set border color and thickness */
  border-radius: 10px; /* Apply rounded corners */
  padding: 15px 30px; /* Add padding */
  font-size: 1.2rem; /* Adjust font size */
  transition: all 0.3s ease; /* Add transition effect */
  display: inline-flex; /* Align icon and text horizontally */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  position: relative; /* Enable z-index */
  text-decoration: none; /* Remove default link underline */
  overflow: hidden; /* Hide overflow */
  font-weight: bold;
}

